@page "/houses"

<PageTitle>Houses</PageTitle>

<PageCaption Title="Houses" />

<div class="houses-menu">
    <NavLink href="" class="button color-primary">
        List
    </NavLink>

    <NavLink href="" class="button color-secondary">
        New
    </NavLink>
</div>

Welcome to your new app.

<style>
    .houses-menu{
        padding: 0 0 30px 0;
    }   

    .houses-menu a:not(:first-child){
        margin: 10px;
    }
</style>