@page "/houses"

<PageTitle>Houses</PageTitle>

<PageCaption Title="Houses" />

<div class="houses-menu">
    <NavLink href="" class="button color-primary">
        <span class="oi oi-list-rich"></span> List
    </NavLink>

    <NavLink href="" class="button color-secondary">
        <span class="oi oi-pencil"></span> New
    </NavLink>

    <input placeholder="  keyword" />

    <button class="button color-normal">Search</button>

    <span class="total-items">10 items</span>
</div>

<div class="table">
    <div class="row">
        <div class="cell header">Id</div>
        <div class="cell header">Title</div>
        <div class="cell header left">Title</div>
        <div class="cell header">Created On</div>
        <div class="cell header">Modified On</div>
    </div>
    <div class="row">
        <div class="cell l-icon"><NavLink href="" class="button color-normal"><span class="oi oi-eye"></span> View</NavLink></div>
        <div class="cell l-id">A00001</div>
        <div class="cell left l-title">Title-01</div>
        <div class="cell l-subtitle1">24 May 2022 - 19:46</div>
        <div class="cell l-subtitle2">-</div>
    </div>
    <div class="row">
        <div class="cell l-icon"><NavLink href="" class="button color-normal"><span class="oi oi-eye"></span> View</NavLink></div>
        <div class="cell l-id">A00002</div>
        <div class="cell left l-title">Title-02</div>
        <div class="cell l-subtitle1">24 May 2022 - 19:46</div>
        <div class="cell l-subtitle2">-</div>
    </div>

    <div class="row">
        <div class="cell l-icon"><NavLink href="" class="button color-normal"><span class="oi oi-eye"></span> View</NavLink></div>
        <div class="cell l-id">A00003</div>
        <div class="cell left l-title">Title-03</div>
        <div class="cell l-subtitle1">24 May 2022 - 10:20</div>
        <div class="cell l-subtitle2">24 May 2022 - 19:46</div>
    </div>

    <div class="row">
        <div class="cell l-icon"><NavLink href="" class="button color-normal"><span class="oi oi-eye"></span> View</NavLink></div>
        <div class="cell l-id">A00004</div>
        <div class="cell left l-title">Title-04</div>
        <div class="cell l-subtitle1">24 May 2022 - 09:15</div>
        <div class="cell l-subtitle2">24 May 2022 - 17:09</div>
    </div>

    <div class="row">
        <div class="cell l-icon"><NavLink href="" class="button color-normal"><span class="oi oi-eye"></span> View</NavLink></div>
        <div class="cell l-id">A00005</div>
        <div class="cell left l-title">Title-05</div>
        <div class="cell l-subtitle1">24 May 2022 - 19:46</div>
        <div class="cell l-subtitle2">-</div>
    </div>

    <div class="row">
        <div class="cell l-icon"><NavLink href="" class="button color-normal"><span class="oi oi-eye"></span> View</NavLink></div>
        <div class="cell l-id">A00006</div>
        <div class="cell left l-title">Title-06</div>
        <div class="cell l-subtitle1">24 May 2022 - 19:46</div>
        <div class="cell l-subtitle2">-</div>
    </div>

    <div class="row">
        <div class="cell l-icon"><NavLink href="" class="button color-normal"><span class="oi oi-eye"></span> View</NavLink></div>
        <div class="cell l-id">A00007</div>
        <div class="cell left l-title">Title-07</div>
        <div class="cell l-subtitle1">24 May 2022 - 19:46</div>
        <div class="cell l-subtitle2">-</div>
    </div>

    <div class="row">
        <div class="cell l-icon"><NavLink href="" class="button color-normal"><span class="oi oi-eye"></span> View</NavLink></div>
        <div class="cell l-id">A00008</div>
        <div class="cell left l-title">Title-08</div>
        <div class="cell l-subtitle1">24 May 2022 - 19:46</div>
        <div class="cell l-subtitle2">-</div>
    </div>

    <div class="row">
        <div class="cell l-icon"><NavLink href="" class="button color-normal"><span class="oi oi-eye"></span> View</NavLink></div>
        <div class="cell l-id">A00009</div>
        <div class="cell left l-title">Title-09</div>
        <div class="cell l-subtitle1">24 May 2022 - 19:46</div>
        <div class="cell l-subtitle2">-</div>
    </div>

    <div class="row">
        <div class="cell l-icon"><NavLink href="" class="button color-normal"><span class="oi oi-eye"></span> View</NavLink></div>
        <div class="cell l-id">A00010</div>
        <div class="cell left l-title">Title-10</div>
        <div class="cell l-subtitle1">24 May 2022 - 19:46</div>
        <div class="cell l-subtitle2">-</div>
    </div>
</div>