@inherits LayoutComponentBase

<div class="top-header">
    <h1><span class="oi oi-heart" style="color:red"></span> Neighbor</h1>
</div>

<div class="left-nav">
    <MainMenu />
</div>

<div class="right-display">
    @Body
</div>