.main-menu-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 40px 40px 40px 40px 40px;
    grid-template-areas:
        "dashboard"
        "houses"
        "people"
        "asset"
        "phonebook"
        "settings";
}

    .main-menu-container ::deep a {
        text-decoration: none;
        color: gray;
        margin: auto 0 auto 15px;
        transition: ease-in .3s;
    }

    .main-menu-container ::deep a:hover {
        color:black;
        transform: scale(1.2) translate(7%);
    }

    .main-menu-container ::deep .dashboard {
        grid-area: dashboard;
    }

    .main-menu-container ::deep .houses {
        grid-area: houses;
    }

    .main-menu-container ::deep .people {
        grid-area: people;
    }

    .main-menu-container ::deep .asset {
        grid-area: asset;
    }

    .main-menu-container ::deep .phonebook {
        grid-area: phonebook;
    }

    .main-menu-container ::deep .settings {
        grid-area: settings;
    }

@media(max-width: 960px) {
    .main-menu-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 40px 40px;
        grid-template-areas:
            "dashboard houses people"
            "asset phonebook settings";
    }

        .main-menu-container ::deep a {
            margin: auto;
        }
}