<div class="main-menu-container">
    <NavLink href="" class="dashboard">
        <span class="oi oi-dashboard"></span> Dashboard
    </NavLink>

    <NavLink href="houses" class="houses">
        <span class="oi oi-home"></span> Houses
    </NavLink>

    <NavLink href="people" class="people">
        <span class="oi oi-people"></span> People
    </NavLink>

    <NavLink href="asset" class="asset">
        <span class="oi oi-puzzle-piece"></span> Asset
    </NavLink>

    <NavLink href="phonebook" class="phonebook">
        <span class="oi oi-phone"></span> Phonebook
    </NavLink>

    <div class="balance">
        <span class="oi oi-ellipses"></span>
    </div>
</div>